<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Thymeleaf Demo</title>
    <link rel="stylesheet"
          th:href="@{/css/demo.сss}"/>
</head>

<body>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thread-dark">
        <tr>
            <th>User id</th>
            <th>User Uuid</th>
            <th>User email</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oneUser1 : ${oneUser}">
            <td th:text="${oneUser1.id}"/>
            <td th:text="${oneUser1.uuid}"/>
            <td th:text="${oneUser1.email}"/>
            <td th:text="${#dates.format(new java.util.Date(oneUser1.createTimestamp),'dd/MM/yyyy - HH:mm')}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>