<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Thymeleaf Demo</title>
     <link rel="stylesheet"
          th:href="@{/css/demo.сss}"/>
</head>

<body>
<div class="container">
<table class="table table-bordered table-striped">
    <thead class="thread-dark">
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Position</th>
          <th>Salary</th>
          <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="tempEmployee : ${employees}">
          <td th:text="${tempEmployee.firstName}"/>
          <td th:text="${tempEmployee.lastName}"/>
          <td th:text="${tempEmployee.position}"/>
          <td th:text="${tempEmployee.salary}"/>
          <td th:text="${tempEmployee.email}"/>
      </tr>
    </tbody>
</table>
</div>
</body>